[Unit]
Description=Simbricks Guest Init
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/simbricks-guestinit.sh
WorkingDirectory=/
User=root
StandardOutput=journal+console
StandardError=journal+console
Restart=no

[Install]
WantedBy=multi-user.target
