[Unit]
Description=Bring up all Open vSwitch bridges
After=openvswitch-switch.service network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/setup-ovs-iface.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
