[Unit]
Description=Bring up all Open vSwitch bridges
After=ovs-iface-up.service network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/setup-provider-veth.sh
Restart=on-failure
RestartSec=5
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
